@font-face {
  font-family: "Gotham Pro";
  font-display: swap;
  src: url(../fonts/GothamPro-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal
}
@font-face {
  font-family: "Gotham Pro";
  font-display: swap;
  src: url(../fonts/GothamPro.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: "Gotham Pro";
  font-display: swap;
  src: url(../fonts/GothamPro-Black.woff2) format("woff2");
  font-weight: 900;
  font-style: normal
}
@font-face {
  font-family: "Gotham Pro";
  font-display: swap;
  src: url(../fonts/GothamPro-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal
}
@font-face {
  font-family: "Gotham Pro Narrow";
  font-display: swap;
  src: url(../fonts/GothamProNarrow-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal
}
@font-face {
  font-family: "Gotham Pro Narrow";
  font-display: swap;
  src: url(../fonts/GothamProNarrow-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 375px
}
body {
  color: #00313e;
  line-height: 1;
  font-family: "Gotham Pro";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: "Gotham Pro";
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 82.5rem;
  margin: 0 auto;
  padding: 0 1.25rem
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: 1.25rem 1fr minmax(auto,80rem) 1fr 1.25rem
}
[class*="--gc"]>* {
  min-width: 0;
  grid-column: 3/4
}
.icon-menu {
  display: none
}
body::after {
  content: "";
  background-color: rgba(0,0,0,.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .8s ease 0s;
  pointer-events: none;
  z-index: 149
}
.popup-show body::after {
  opacity: 1
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  transition: visibility .8s ease 0s;
  visibility: hidden;
  pointer-events: none
}
.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto
}
.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
  transform: scale(1)
}
.popup__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center
}
.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: -webkit-transform .3s ease 0s;
  transition: transform .3s ease 0s;
  transition: transform .3s ease 0s,-webkit-transform .3s ease 0s;
  background-color: #eee;
  padding: 65px 73px 66px;
  width: 100%;
  max-width: 750px;
  border-radius: 12px;
  position: relative
}
.popup__content::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #006e8b;
  border-radius: 12px;
  opacity: .95;
  z-index: 0
}
.lock .popup__content {
  visibility: visible
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
._header-scroll {
  padding-bottom: 20px;
  background: rgba(0,110,139,.9607843137)
}
@supports (padding:env(safe-area-inset-top)) {
  ._header-scroll {
    padding-top: calc(env(safe-area-inset-top) + 12px);
    background: rgba(0,110,139,.9607843137)
  }
}
body,
html {
  background-color: rgba(0,110,139,.9607843137)
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  padding-top: env(safe-area-inset-top)
}
.header__container {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between
}
._header-scroll .header__container {
  margin-top: 20px
}
.header__logo {
  width: 128px;
  height: 45px
}
.menu-open .header__logo {
  position: relative;
  z-index: 1
}
.header__logoimg {
  width: 100%
}
.header__actions {
  display: flex;
  align-items: center;
  -webkit-column-gap: 32px;
  -moz-column-gap: 32px;
  column-gap: 32px
}
.menu__list {
  display: flex;
  align-items: center;
  -webkit-column-gap: 60px;
  -moz-column-gap: 60px;
  column-gap: 60px;
  flex-wrap: wrap;
  row-gap: 10px;
  position: relative
}
.menu__item--has-children {
  position: relative
}
.menu__item--has-children.open .menu__dropdown {
  display: block
}
.menu__item--has-children.open .menu__icon {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg)
}
.menu__item--has-children .menu__icon {
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s,-webkit-transform .2s
}
.menu__link {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #f6f6f6;
  transition: all .3s
}
.menu__link:hover {
  scale: 1.1;
  color: #fff
}
.menu__link--dropdown {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  background: 0 0;
  border: none
}
.menu__dropdown {
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(0,0,0,.12);
  padding: 16px 15px;
  display: none;
  z-index: 50
}
.menu__dropdown li a {
  display: block;
  padding: 12px;
  white-space: nowrap;
  color: #00313e;
  transition: all .3s
}
.menu__dropdown li a:hover {
  color: #fff;
  background-color: #16afd7;
  border-radius: 10px;
  scale: 1.05
}
.menu__buttons {
  display: none
}
.menu__btn {
  width: 100%
}
.menu__socials {
  display: none
}
.actions-header__icon path {
  transition: all .3s
}
.language-select {
  position: relative;
  display: inline-block
}
.language-select__toggle {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 6px 12px;
  background: rgba(0,0,0,0);
  cursor: pointer;
  color: #fff;
  transition: all .3s
}
.language-select__toggle:hover {
  scale: 1.1
}
.language-select__toggle .arrow {
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s,-webkit-transform .2s
}
.open .language-select__toggle .arrow {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg)
}
.language-select__dropdown {
  position: absolute;
  top: calc(100% + 4px);
  right: -70px;
  list-style: none;
  margin: 0;
  padding: 12px 15px;
  width: 160px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(0,0,0,.15);
  display: none
}
.open .language-select__dropdown {
  display: flex;
  flex-direction: column;
  row-gap: 8px
}
.language-select__dropdown li {
  padding: 12px;
  cursor: pointer;
  font-size: 16px;
  color: #00313e;
  border-radius: 10px;
  transition: all .3s;
  color: #253b49
}
.language-select__dropdown li:hover {
  scale: 1.1;
  background-color: #16afd7;
  color: #fff
}
.language-short {
  font-size: 20px;
  font-weight: 400;
  line-height: normal
}
.footer {
  background-color: #006e8b;
  padding: 54px 0
}
.footer__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between
}
.footer__item {
  display: flex;
  flex-direction: column;
  row-gap: 20px
}
.item-footer__logo {
  width: 170px;
  height: 56px
}
.item-footer__logo img {
  width: 100%
}
.item-footer__bottom {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  align-items: flex-start
}
.item-footer__socials {
  display: flex;
  align-items: center;
  -webkit-column-gap: 36px;
  -moz-column-gap: 36px;
  column-gap: 36px;
  margin-top: 280px
}
.item-footer__social {
  transition: all .3s ease
}
.item-footer__social:hover {
  scale: 1.1
}
.item-footer__maked {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
  color: #fff;
  transition: all .3s ease
}
.item-footer__maked:hover {
  scale: 1.05
}
.item-footer__title {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px
}
.item-footer__list {
  display: flex;
  flex-direction: column;
  row-gap: 16px
}
.item-footer__lists {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 16px;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px
}
.item-footer__li {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px
}
.item-footer__link {
  transition: all .3s ease
}
.item-footer__link:hover {
  scale: 1.1
}
.item-footer__infos {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  max-width: 250px
}
.item-footer__info {
  display: flex;
  flex-direction: column;
  row-gap: 16px
}
.item-footer__info:nth-child(1) {
  border-bottom: 1px solid #fff;
  padding-bottom: 20px
}
.item-footer__phone {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  color: #fff;
  transition: all .3s ease
}
.item-footer__phone:hover {
  scale: 1.1
}
.item-footer__adress {
  display: flex;
  flex-direction: column;
  row-gap: 20px
}
.item-footer__p {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #fff
}
.h1 {
  color: #000;
  font-family: "Gotham Pro";
  font-size: 73px;
  font-style: normal;
  font-weight: 900;
  line-height: 80px
}
.h2 {
  color: #000;
  font-family: "Gotham Pro";
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px
}
.h3 {
  color: #000;
  font-family: "Gotham Pro";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px
}
.p {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px
}
.btn-consult {
  display: inline-flex;
  padding: 18px 28px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #006e8b;
  font-size: 22px;
  font-weight: 500;
  line-height: 24px;
  transition: all .3s ease;
  color: #fff
}
.btn-consult:hover {
  background: #16afd7;
  scale: 1.05
}
.btn-call {
  display: inline-flex;
  padding: 16.5px 28px;
  justify-content: center;
  align-items: center;
  -webkit-column-gap: 8px;
  -moz-column-gap: 8px;
  column-gap: 8px;
  border-radius: 10px;
  background: #fff;
  color: #006e8b;
  transition: all .3s ease;
  font-size: 20px;
  font-weight: 500;
  line-height: normal
}
.btn-call:hover {
  background: #16afd7;
  color: #fff;
  scale: 1.05
}
.btn-call:hover .actions-header__icon path {
  fill: #fff
}
.pcnone {
  display: none
}
.rad {
  background-color: red;
  color: #fff
}
.rad:hover {
  color: red;
  background-color: rgba(0,0,0,0);
  border: 1px solid red
}
.white {
  background-color: #fff;
  color: #00313e
}
.white:hover {
  color: #fff
}
.wrapper-box {
  background: #f6f6f6;
  width: 100%;
  margin: 0 auto;
  border-radius: 50px 50px 0 0
}
.space {
  margin-top: 80px;
  background: #f6f6f6;
  height: 1px
}
.hero {
  background-image: url(../img/hero-bg.webp);
  background-size: cover
}
.hero__container {
  padding-top: 125px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  padding-bottom: 165px
}
.hero__title {
  color: #fff;
  font-size: 70px
}
.hero__content {
  position: relative
}
.content-hero__banner {
  width: 100%;
  border-radius: 20px;
  height: 578px;
  -o-object-fit: cover;
  object-fit: cover
}
.content-hero__info {
  display: inline-flex;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 32px;
  border-radius: 12px;
  background: rgba(170,170,170,.6);
  backdrop-filter: blur(10px);
  max-width: 531px;
  position: absolute;
  bottom: 54px;
  left: 32px
}
.info-hero__text {
  color: #fff;
  width: 503px
}
.info-hero__btn:hover {
  color: #fff
}
.yellow {
  background-color: #e1d244;
  color: #00313e
}
.dark-bg {
  background: rgba(54,54,54,.6)
}
.blue {
  color: #006e8b
}
.trust__container {
  display: flex;
  flex-direction: column
}
.trust__topdecor {
  max-width: 1440px;
  margin: -50px auto 0;
  height: 87px;
  width: 100%;
  border-radius: 50px 50px 0 0;
  background: #f6f6f6
}
.trust__content {
  display: flex;
  align-items: flex-start;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px
}
.content-trust__left {
  display: flex;
  flex-direction: column;
  row-gap: 68px
}
.content-trust__right {
  display: flex;
  align-items: flex-start;
  gap: 20px
}
.left-trust__title {
  width: 459px
}
.left-trust__card {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 0 8px 0 rgba(0,0,0,.2);
  padding: 32px
}
.left-trust__card-about {
  row-gap: 25px;
  padding-bottom: 52px
}
.card-trust__info {
  display: flex;
  align-items: center;
  -webkit-column-gap: 35px;
  -moz-column-gap: 35px;
  column-gap: 35px
}
.card-trust__avatar {
  width: 92px;
  height: 92px;
  border-radius: 92px
}
.card-trust__titles {
  display: flex;
  flex-direction: column;
  row-gap: 10px
}
.card-trust__title {
  color: #006e8b;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px
}
.card-trust__subtitle {
  color: #787878;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  width: 378px
}
.right-trust__left {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  position: relative
}
.right-trust__image {
  width: 278px;
  height: 363px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 8px 0 rgba(0,0,0,.2);
  display: flex
}
.right-trust__imgpc1 {
  display: flex;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.right-trust__imgmob1 {
  display: none
}
.right-trust__text {
  background: url(../img/trust-card-bg.webp) no-repeat;
  background-position: center;
  background-size: cover;
  padding: 18px 52px 17px 20px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
  border-radius: 12px;
  opacity: .95;
  box-shadow: 0 0 8px 0 rgba(0,0,0,.2);
  position: absolute;
  bottom: -200px
}
.right-trust__text::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #006e8b;
  border-radius: 12px;
  opacity: .9;
  z-index: 0
}
.right-trust__text p {
  position: relative;
  z-index: 1;
  width: 283px
}
.right-trust__text-about {
  padding: 18px 10px 17px 20px
}
.right-trust__text-about p {
  width: 325px
}
.right-trust__right {
  display: flex;
  flex-direction: column;
  row-gap: 20px
}
.right-trust__text2 {
  background: url(../img/trust-card-bg2.webp) no-repeat;
  background-position: center;
  background-size: cover;
  padding: 23px 20px 23px 20px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
  border-radius: 12px;
  opacity: .95;
  box-shadow: 0 0 8px 0 rgba(0,0,0,.2);
  position: relative
}
.right-trust__text2::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #006e8b;
  border-radius: 12px;
  opacity: .9;
  z-index: 0
}
.right-trust__text2 p {
  position: relative;
  z-index: 1;
  width: 242px
}
.right-trust__text2-about p {
  width: 282px
}
.right-trust__imgpc2 {
  display: flex;
  -webkit-filter: drop-shadow(0 0 8px rgba(0, 0, 0, .2));
  filter: drop-shadow(0 0 8px rgba(0, 0, 0, .2))
}
.right-trust__imgmob2 {
  display: none
}
.full-cycle__container {
  margin-top: 115px;
  display: flex;
  flex-direction: column;
  row-gap: 53px;
  position: relative
}
.full-cycle__header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between
}
.full-cycle__title {
  width: 728px
}
.full-cycle__btn {
  font-weight: 400
}
.full-cycle__mobbtn {
  display: none
}
.full-cycle__navigations {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 55%;
  left: 0
}
.full-cycle__slide {
  border-radius: 20px;
  overflow: hidden;
  -webkit-filter: drop-shadow(0 0 8px rgba(0, 0, 0, .15));
  filter: drop-shadow(0 0 8px rgba(0, 0, 0, .15))
}
.slide-full-cycle__img {
  width: 413px;
  height: 261px;
  -o-object-fit: cover;
  object-fit: cover;
  display: flex
}
.slide-full-cycle__info {
  width: 413px;
  height: 275px;
  padding: 33px 26px 39px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between
}
.slide-full-cycle__text {
  display: flex;
  flex-direction: column;
  row-gap: 16px
}
.slide-full-cycle__title {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px
}
.slide-full-cycle__description {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px
}
.slide-full-cycle__btn {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  transition: all .3s ease;
  -webkit-column-gap: 12px;
  -moz-column-gap: 12px;
  column-gap: 12px;
  color: #006e8b
}
.slide-full-cycle__btn:hover {
  color: #16afd7
}
.slide-full-cycle__btn img {
  width: 12px;
  height: 14px
}
.swiper-button-prev {
  border-radius: 50%;
  background: #fff;
  padding: 20px 25px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  transition: all .3s ease;
  display: flex;
  align-items: center;
  justify-content: center
}
.swiper-button-prev svg path {
  fill: #00313e
}
.swiper-button-prev:hover {
  background: #16afd7;
  scale: 1.05
}
.swiper-button-prev:hover svg path {
  fill: #fff
}
.swiper-button-next {
  border-radius: 50%;
  background: #fff;
  padding: 20px 25px;
  transition: all .3s ease;
  display: flex;
  align-items: center;
  justify-content: center
}
.swiper-button-next svg path {
  fill: #00313e
}
.swiper-button-next:hover {
  background: #16afd7;
  scale: 1.05
}
.swiper-button-next:hover svg path {
  fill: #fff
}
.programs__container {
  margin-top: 114px;
  display: flex;
  flex-direction: column;
  row-gap: 44px
}
.programs__title {
  width: 548px
}
.programs__content {
  display: flex;
  align-items: flex-start;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px
}
.content-programs__row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 20px
}
.content-programs__img {
  width: 607px;
  height: 327px;
  border-radius: 8px;
  box-shadow: 0 0 8px 0 rgba(0,0,0,.2);
  display: flex;
  overflow: hidden
}
.content-programs__image {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.content-programs__img2 {
  width: 645px;
  height: 298px;
  border-radius: 8px;
  box-shadow: 0 0 8px 0 rgba(0,0,0,.2);
  display: flex;
  overflow: hidden
}
.content-programs__packet {
  padding: 32px 24px 37px;
  border-radius: 12px;
  opacity: .95;
  box-shadow: 0 0 8px 0 rgba(0,0,0,.2);
  background: url(../img/packet-bg.webp) no-repeat center;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 40px;
  width: 100%
}
.content-programs__packet::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #006e8b;
  border-radius: 12px;
  opacity: .9;
  z-index: 0
}
.content-programs__packet-about {
  padding: 56px 24px 79px 27px
}
.content-programs__banner {
  position: relative;
  background: url(../img/packet-banner-bg.webp) no-repeat center;
  background-size: cover;
  padding: 15px 20px;
  border-radius: 12px;
  opacity: .95;
  box-shadow: 0 0 8px 0 rgba(0,0,0,.2);
  display: flex;
  flex-direction: column;
  row-gap: 8px
}
.content-programs__banner::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #006e8b;
  border-radius: 12px;
  opacity: .9;
  z-index: 0
}
.content-programs__number {
  position: relative;
  z-index: 1;
  font-size: 32px;
  font-weight: 500;
  line-height: 24px;
  color: #e1d244
}
.content-programs__numbertext {
  position: relative;
  z-index: 1;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  width: 229px
}
.content-programs__packetfamily {
  position: relative;
  background: url(../img/packet-family-bg.webp) no-repeat center;
  background-size: cover;
  border-radius: 12px;
  opacity: .95;
  box-shadow: 0 0 8px 0 rgba(0,0,0,.2);
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 40px
}
.content-programs__packetfamily::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #006e8b;
  border-radius: 12px;
  opacity: .9;
  z-index: 0
}
.content-programs__packetfamily-about {
  padding: 53px 22px 53px 20px;
  height: 240px
}
.packet-programs__info {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  position: relative;
  z-index: 1
}
.packet-programs__znak {
  color: #e1d244;
  font-size: 100px;
  font-weight: 500;
  width: 51px;
  height: 44px;
  margin-top: -10px
}
.packet-programs__text {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  row-gap: 24px
}
.packet-programs__title {
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  line-height: 24px
}
.packet-programs__description {
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  line-height: 24px;
  width: 454px
}
.packet-programs__description-about {
  width: 556px
}
.packet-programs__link {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  -webkit-column-gap: 12px;
  -moz-column-gap: 12px;
  column-gap: 12px;
  transition: all .3s ease
}
.packet-programs__link:hover {
  scale: 1.05
}
.packet-programs__link-text {
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  line-height: 24px
}
.treatment__container {
  margin-top: 106px;
  position: relative
}
.treatment__banner {
  display: flex
}
.treatment__banner-mob {
  display: none
}
.treatment__title {
  width: 454px;
  color: #006e8b;
  position: absolute;
  top: 10px;
  left: 30px
}
.treatment__info {
  display: flex;
  width: 704px;
  padding: 21px 25px 20px 24px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 28px;
  border-radius: 12px;
  background: rgba(170,170,170,.65);
  backdrop-filter: blur(10px);
  position: absolute;
  bottom: 25px;
  left: 45px
}
.info-treatment__description {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px
}
.info-treatment__btn {
  padding: 11px 19.5px;
  font-weight: 400
}
.comments__container {
  margin-top: 114px;
  display: flex;
  flex-direction: column;
  row-gap: 47px;
  position: relative
}
.comments__header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between
}
.comments__titles {
  display: flex;
  flex-direction: column;
  row-gap: 20px
}
.comments__title {
  color: #006e8b
}
.comments__slide {
  padding: 20px 24px 24px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 0 8px 0 rgba(0,0,0,.2);
  display: flex;
  flex-direction: column;
  height: 280px;
  justify-content: space-between;
  transition: all .3s ease
}
.comments__slide:hover {
  background-color: #006e8b
}
.comments__slide:hover .comments-slide__content,
.comments__slide:hover .comments-slide__more {
  color: #fff
}
.comments__navigations {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 55%;
  left: 0
}
.comments__swiper-button-prev {
  box-shadow: 0 4px 10px rgba(0,0,0,.12)
}
.comments__swiper-button-next {
  box-shadow: 0 4px 10px rgba(0,0,0,.12)
}
.comments-slide__content {
  display: flex;
  flex-direction: column;
  row-gap: 18px
}
.comments-slide__header {
  display: flex;
  align-items: center;
  -webkit-column-gap: 13px;
  -moz-column-gap: 13px;
  column-gap: 13px
}
.comments-slide__avatar {
  width: 71px;
  height: 71px;
  border-radius: 71px
}
.comments-slide__titles {
  display: flex;
  flex-direction: column;
  row-gap: 8px
}
.comments-slide__title {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal
}
.comments-slide__datum {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px
}
.comments-slide__text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px
}
.comments-slide__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between
}
.comments-slide__stars {
  display: flex;
  align-items: center
}
.comments-slide__star {
  width: 14px;
  height: 14px
}
.comments-slide__more {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  transition: all .3s ease
}
.comments-slide__more:hover {
  scale: 1.05
}
.trustme {
  background-image: url(../img/paralax-bg.webp);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  z-index: 1
}
.trustme__container {
  margin-top: 114px;
  height: 424px;
  display: flex;
  align-items: center;
  justify-content: center
}
.trustme__content {
  display: flex;
  flex-direction: column;
  row-gap: 27px;
  padding: 40px;
  width: 100%;
  border-radius: 12px;
  background: rgba(247,247,247,.65);
  backdrop-filter: blur(10px)
}
.trustme__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 19px;
  text-align: center
}
.trustme__subtitle {
  width: 804px
}
.trustme__slide {
  display: flex;
  align-items: flex-end
}
.blog__container {
  margin-top: 114px;
  display: flex;
  flex-direction: column;
  row-gap: 47px;
  position: relative
}
.blog__header {
  display: flex;
  flex-direction: column;
  row-gap: 20px
}
.blog__subtitle {
  width: 576px
}
.blog__slider {
  padding: 0 3px
}
.blog__slide {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 8px rgba(0,0,0,.15);
  margin-bottom: 5px
}
.blog__navigations {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 56%;
  left: 0
}
.blog-slide__image {
  width: 413px;
  height: 262px;
  display: flex;
  -o-object-fit: cover;
  object-fit: cover
}
.blog-slide__content {
  height: 261px;
  padding: 33px 26px 26px;
  display: flex;
  flex-direction: column;
  justify-content: space-between
}
.content-slide__info {
  display: flex;
  flex-direction: column;
  row-gap: 8px
}
.content-slide__title {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px
}
.content-slide__subtitle {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px
}
.content-slide__more {
  display: flex;
  align-items: center;
  -webkit-column-gap: 12px;
  -moz-column-gap: 12px;
  column-gap: 12px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  color: #006e8b;
  transition: all .3s ease
}
.content-slide__more:hover {
  color: #16afd7
}
.popup__close {
  position: relative;
  z-index: 2
}
.popup__close-consult {
  display: none
}
.popup__text {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  row-gap: 33px
}
.text-popup__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 13px
}
.text-popup__title {
  color: #fff
}
.text-popup__subtitle {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  width: 554px
}
.text-popup__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px
}
.form-popup__input {
  padding: 20px 28px;
  border-radius: 10px;
  background: #f4f4f4;
  outline: 0
}
.form-popup__send {
  padding: 18px 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #16afd7;
  color: #fff;
  width: 100%;
  transition: all .3s ease;
  margin-top: 13px
}
.form-popup__send:hover {
  scale: 1.1
}
.popup-content__consult {
  background: url(../img/trust-card-bg2.webp) no-repeat;
  background-position: center;
  background-size: cover
}
.popup-content__packet {
  padding: 30px 32px 31px;
  background: url(../img/popup-packet-wait.webp) no-repeat;
  background-position: center;
  background-size: cover
}
.popup__close {
  position: absolute;
  right: 20px;
  top: 20px
}
.popup__close svg path {
  stroke: #fff
}
.popup-packet {
  display: flex;
  flex-direction: column;
  justify-content: space-between
}
.popup-packet__top {
  display: flex;
  flex-direction: column;
  row-gap: 44px
}
.popup-packet__bot {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 32px
}
.top-packet__header {
  display: flex;
  flex-direction: column;
  row-gap: 20px
}
.top-packet__znak {
  color: #e1d244;
  font-size: 100px;
  font-weight: 500;
  line-height: .8;
  width: 51px;
  height: 44px
}
.top-packet__info {
  display: flex;
  flex-direction: column;
  row-gap: 24px
}
.top-packet__title {
  color: #fff;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px
}
.top-packet__decription {
  color: #fff;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px
}
.top-packet__body {
  display: flex;
  flex-direction: column;
  row-gap: 20px
}
.top-packet__subtitle {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px
}
.top-packet__list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-left: 20px
}
.top-packet__li {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  list-style: disc
}
.bot-packet__price {
  color: #e1d244;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px
}
.bot-packet__btn {
  background: #fff;
  color: #006e8b;
  font-weight: 400
}
.bot-packet__btn:hover {
  color: #fff
}
.doctors__container {
  margin-top: 114px;
  display: flex;
  flex-direction: column;
  row-gap: 42px
}
.doctors__header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between
}
.doctors__titles {
  display: flex;
  flex-direction: column;
  row-gap: 24px
}
.doctors__subtitle {
  width: 557px;
  font-size: 22px;
  font-weight: 400;
  line-height: 24px
}
.doctors__slider {
  position: relative
}
.doctors__wrapper {
  padding-bottom: 3px;
  padding-left: 2px
}
.doctors__slide {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 8px rgba(0,0,0,.15)
}
.doctors__navigations {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 51%;
  left: -3px
}
.doctors-slide__image {
  width: 413px;
  height: 320px;
  display: flex;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top;
  object-position: top
}
.doctors-slide__info {
  padding: 26px 23px 26px 26px;
  display: flex;
  flex-direction: column;
  row-gap: 24px
}
.info-doctors__titles {
  display: flex;
  flex-direction: column;
  row-gap: 16px
}
.info-doctors__name {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  max-width: 300px
}
.info-doctors__expirience {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px
}
.info-doctors__descriptions {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px
}
.video-comments__container {
  padding-top: 83px
}
.video-comments__title {
  margin-bottom: 42px
}
.video-comments-thumbs__slider {
  position: relative
}
.video-comments__slider {
  width: 100%;
  height: 582px
}
.video-comments__slider iframe {
  width: 100%;
  height: 100%;
  border-radius: 16px
}
.video-comments-thumbs__slider {
  margin-top: 20px;
  height: 187px
}
.video-comments-thumbs__slider .swiper-slide {
  opacity: .8;
  transition: .3s;
  cursor: pointer
}
.video-comments-thumbs__slider .swiper-slide.swiper-slide-thumb-active {
  opacity: 1
}
.video-comments-thumbs__slider .swiper-slide iframe {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  -o-object-fit: cover;
  object-fit: cover
}
.video-comments-swiper-button-prev {
  position: absolute;
  top: 35%;
  left: -3px
}
.video-comments-swiper-button-next {
  position: absolute;
  top: 35%;
  right: -3px
}
.swiper {
  overflow: hidden
}
.swiper-initialized {
  touch-action: pan-y
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative
}
.swiper-vertical .swiper-wrapper {
  flex-direction: column
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start
}
.swiper-initialized .swiper-slide {
  flex-shrink: 0
}
.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}
.swiper-button-lock {
  display: none!important
}
@media (min-width:769px) {
  .video-comments-videosmall {
    pointer-events: none
  }
}
@media (max-width:769px) {
  .popup__content {
    max-width: 335px;
    padding: 44px 12px 43px
  }
}
@media (max-width:768px) {
  .video-comments-videosmall {
    pointer-events: auto!important
  }
}
@media (max-width:47.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    overflow: auto;
    padding: 6.25rem .9375rem 1.875rem .9375rem;
    transition: left .3s
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 5.625rem;
    left: -100%;
    top: 0;
    transition: left .3s;
    z-index: 2;
    background: rgba(35,125,148,.5607843137)
  }
  .menu-open .menu__body {
    left: 0;
    background: url(../img/menu-background.webp) no-repeat center;
    background-size: cover
  }
  .menu-open .menu__body::before {
    left: 0
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: #fff
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .header__logo {
    width: 85px;
    height: 29px
  }
  .header__actions {
    -webkit-column-gap: 24px;
    -moz-column-gap: 24px;
    column-gap: 24px
  }
  .menu__list {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 36px
  }
  .menu__link {
    font-size: 30px;
    font-weight: 700;
    line-height: 34px
  }
  .menu__link--dropdown {
    pointer-events: none
  }
  .menu__dropdown li a {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #fff;
    padding: 0;
    white-space: normal;
    overflow-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    hyphens: auto
  }
  .menu__dropdown {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 16px;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
    position: static;
    padding: 0;
    margin-top: 13px;
    margin-bottom: 36px;
    box-shadow: none;
    background: rgba(0,0,0,0)
  }
  .menu__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    row-gap: 16px
  }
  .menu__socials {
    display: flex;
    align-items: center;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
    position: absolute;
    bottom: 36px;
    right: 0
  }
  .actions-header__call {
    display: flex
  }
  .menu-open .actions-header__call {
    display: none
  }
  .actions-header__language {
    display: none
  }
  .menu-open .actions-header__language {
    display: inline-block
  }
  .icon-arrow {
    display: none
  }
  .footer {
    padding: 36px 0
  }
  .footer__item {
    width: 100%;
    row-gap: 20px;
    align-items: center
  }
  .item-footer__logo {
    width: 103.723px;
    height: 34.907px;
    margin-bottom: 15px
  }
  .item-footer__contacts {
    padding: 13px 17px;
    border-radius: 8px;
    background: rgba(22,175,215,.4)
  }
  .item-footer__bottom {
    justify-content: space-between;
    align-items: center;
    width: 100%
  }
  .item-footer__socials {
    margin-top: 0;
    -webkit-column-gap: 27px;
    -moz-column-gap: 27px;
    column-gap: 27px
  }
  .item-footer__maked {
    font-size: 10px
  }
  .item-footer__title {
    font-size: 20px;
    line-height: 24px
  }
  .item-footer__infos {
    max-width: -webkit-max-content;
    max-width: max-content
  }
  .item-footer__phone {
    font-size: 20px;
    line-height: 24px;
    text-align: center
  }
  .item-footer__adress {
    max-width: 250px
  }
  .item-footer__p {
    font-size: 14px;
    line-height: 18px;
    text-align: center
  }
  .h1 {
    font-size: 38px;
    font-weight: 700;
    line-height: 40px
  }
  .h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 34px
  }
  .h3 {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px
  }
  .p {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px
  }
  .btn-consult {
    font-size: 14px;
    font-style: normal;
    line-height: normal;
    padding: 14.5px 28px
  }
  .btn-call {
    font-size: 12px;
    padding: 9px 12px
  }
  .mobnone {
    display: none
  }
  .pcnone {
    display: flex
  }
  .wrapper-box {
    border-radius: 25px 25px 0 0
  }
  .wrapper-box {
    max-width: -webkit-max-content;
    max-width: max-content
  }
  .space {
    margin-top: 54px
  }
  .hero__container {
    padding-top: 108px;
    padding-bottom: 56px;
    row-gap: 20px
  }
  .hero__title {
    font-size: 38px
  }
  .content-hero__banner {
    height: 386px
  }
  .content-hero__info {
    bottom: 12px;
    left: 0;
    padding: 13px 15px 16px;
    max-width: -webkit-max-content;
    max-width: max-content;
    width: auto;
    margin: 0 12px;
    row-gap: 16px
  }
  .info-hero__text {
    width: 280px
  }
  .info-hero__btn {
    font-weight: 500
  }
  .trust__container {
    width: 100%
  }
  .trust__topdecor {
    border-radius: 25px 25px 0 0;
    height: 30px;
    margin: -20px auto 0
  }
  .content-trust__left {
    row-gap: 12px;
    width: 100%
  }
  .content-trust__right {
    flex-direction: column;
    row-gap: 12px
  }
  .left-trust__title {
    width: 289px
  }
  .left-trust__card {
    padding: 24px 15px 21px 22px;
    row-gap: 22px
  }
  .left-trust__card-about {
    row-gap: 12px;
    padding: 24px 11px 21px 22px
  }
  .card-trust__description {
    font-size: 16px
  }
  .card-trust__info {
    -webkit-column-gap: 16px;
    -moz-column-gap: 16px;
    column-gap: 16px
  }
  .card-trust__avatar {
    width: 72px;
    height: 72px;
    border-radius: 72px
  }
  .card-trust__title {
    font-size: 16px;
    line-height: 24px
  }
  .card-trust__subtitle {
    width: 100%;
    font-size: 12px;
    line-height: 16px
  }
  .right-trust__left {
    width: 100%
  }
  .right-trust__image {
    width: 100%;
    height: 171px
  }
  .right-trust__imgpc1 {
    display: none
  }
  .right-trust__imgmob1 {
    display: flex;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%
  }
  .right-trust__text::before {
    border-radius: 8px
  }
  .right-trust__text p {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    color: #f9f9f9;
    width: 100%
  }
  .right-trust__text {
    position: relative;
    bottom: 0;
    width: 100%;
    border-radius: 8px;
    padding: 22px 32px 22px 20px
  }
  .right-trust__text-about p {
    width: 283px
  }
  .right-trust__right {
    width: 100%
  }
  .right-trust__text2::before {
    border-radius: 8px
  }
  .right-trust__text2 p {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    width: 100%
  }
  .right-trust__text2 {
    padding: 24px 26px 23px 20px;
    border-radius: 8px
  }
  .right-trust__text2-about p {
    width: 289px
  }
  .right-trust__imgpc2 {
    display: none
  }
  .right-trust__imgmob2 {
    display: flex;
    width: 100%;
    height: 246px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 0 -70px;
    object-position: 0 -70px;
    border-radius: 8px;
    box-shadow: 0 0 8px 0 rgba(0,0,0,.2)
  }
  .full-cycle__container {
    margin-top: 62px;
    row-gap: 22px
  }
  .full-cycle__mobbtn {
    display: flex;
    align-items: center;
    justify-content: flex-start
  }
  .full-cycle__navigations {
    top: 53%
  }
  .full-cycle__slide {
    border-radius: 12px
  }
  .slide-full-cycle__img {
    width: 100%;
    height: 195px
  }
  .slide-full-cycle__info {
    height: 220px;
    width: 100%;
    padding: 16px 20px 19px
  }
  .slide-full-cycle__text {
    row-gap: 8px
  }
  .slide-full-cycle__title {
    font-size: 20px;
    line-height: 24px
  }
  .slide-full-cycle__description {
    font-size: 14px;
    line-height: 18px
  }
  .slide-full-cycle__btn img {
    width: 10px;
    height: 12px
  }
  .slide-full-cycle__btn {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    -webkit-column-gap: 8px;
    -moz-column-gap: 8px;
    column-gap: 8px
  }
  .swiper-button-prev {
    padding: 5px 12px
  }
  .swiper-button-prev svg {
    width: 7px
  }
  .swiper-button-next {
    padding: 5px 12px
  }
  .swiper-button-next svg {
    width: 7px
  }
  .programs__container {
    margin-top: 62px;
    row-gap: 24px
  }
  .programs__title {
    width: 322px
  }
  .programs__content {
    flex-direction: column;
    row-gap: 12px
  }
  .content-programs__row {
    row-gap: 12px;
    flex-direction: column-reverse
  }
  .content-programs__img {
    width: 100%;
    height: 181px
  }
  .content-programs__img2 {
    width: 100%;
    height: 174px
  }
  .content-programs__packet {
    row-gap: 34px;
    padding: 24px 20px
  }
  .content-programs__packet-about {
    padding: 40px 20px 40px 20px
  }
  .content-programs__banner {
    row-gap: 1px;
    padding: 14px 20px 17px;
    width: 100%
  }
  .content-programs__number {
    font-size: 30px;
    font-weight: 700;
    line-height: 34px
  }
  .content-programs__numbertext {
    font-size: 16px;
    line-height: 20px
  }
  .content-programs__packetfamily {
    row-gap: 34px;
    padding: 32px 20px 25px
  }
  .content-programs__packetfamily-about {
    padding: 40px 20px 40px 20px;
    height: auto
  }
  .packet-programs__info {
    row-gap: 16px
  }
  .packet-programs__znak {
    font-size: 90px
  }
  .packet-programs__text {
    row-gap: 12px
  }
  .packet-programs__title {
    font-size: 20px;
    line-height: 24px
  }
  .packet-programs__description {
    font-size: 16px;
    line-height: 20px;
    width: 100%
  }
  .packet-programs__description-about {
    width: 100%
  }
  .packet-programs__link {
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px
  }
  .packet-programs__link-text {
    font-size: 16px;
    line-height: 20px
  }
  .treatment__container {
    margin-top: 56px;
    padding: 0
  }
  .treatment__banner {
    display: none
  }
  .treatment__banner-mob {
    display: flex;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 333px
  }
  .treatment__banner-mob-about {
    height: 343px
  }
  .treatment__title {
    position: static;
    width: 100%;
    text-align: center
  }
  .treatment__info {
    width: 90%;
    padding: 18px 23px 28px;
    bottom: 15px;
    left: 20px;
    align-items: center
  }
  .treatment__info-about {
    padding: 18px 23px 20px
  }
  .info-treatment__text {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 8px;
    align-items: center
  }
  .info-treatment__description {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    width: 291px
  }
  .info-treatment__btn {
    width: 80%
  }
  .comments__container {
    margin-top: 62px;
    row-gap: 22px
  }
  .comments__titles {
    row-gap: 8px
  }
  .comments__escription {
    width: 190px
  }
  .comments__slide {
    height: 214px;
    padding: 16px 16px 18px;
    border-radius: 8px
  }
  .comments__navigations {
    top: 53%
  }
  .comments__mobbtn {
    margin-top: 34px
  }
  .comments-slide__content {
    row-gap: 16px
  }
  .comments-slide__avatar {
    width: 60px;
    height: 60px;
    border-radius: 60px
  }
  .comments-slide__titles {
    row-gap: 2px
  }
  .comments-slide__title {
    font-size: 16px;
    line-height: 24px
  }
  .comments-slide__datum {
    font-size: 14px;
    line-height: 18px
  }
  .comments-slide__text {
    font-size: 12px;
    line-height: 16px
  }
  .comments-slide__more {
    font-size: 16px;
    line-height: 20px
  }
  .trustme {
    background: #fff;
    box-shadow: 0 0 8px 0 rgba(0,0,0,.2)
  }
  .trustme__container {
    margin-top: 62px;
    height: auto
  }
  .trustme__content {
    row-gap: 16px;
    background: #fff;
    padding: 24px 0 30px
  }
  .trustme__header {
    row-gap: 8px
  }
  .trustme__title {
    width: 244px
  }
  .trustme__subtitle {
    width: 314px
  }
  .trustme-slide__img {
    width: 100%
  }
  .blog__container {
    margin-top: 62px;
    row-gap: 22px
  }
  .blog__header {
    row-gap: 8px
  }
  .blog__subtitle {
    width: 100%
  }
  .blog__slide {
    border-radius: 12px
  }
  .blog__navigations {
    top: 56%
  }
  .blog-slide__image {
    width: 100%;
    height: 171px
  }
  .blog-slide__content {
    height: 221px;
    padding: 24px 15px 23px 20px
  }
  .content-slide__info {
    row-gap: 12px
  }
  .content-slide__title {
    font-size: 20px;
    line-height: 24px
  }
  .content-slide__subtitle {
    font-size: 14px;
    line-height: 18px
  }
  .content-slide__more {
    -webkit-column-gap: 8px;
    -moz-column-gap: 8px;
    column-gap: 8px;
    font-size: 14px;
    line-height: 18px
  }
  .popup__text {
    row-gap: 24px
  }
  .text-popup__header {
    row-gap: 8px
  }
  .text-popup__subtitle {
    font-size: 14px;
    width: 100%;
    line-height: 18px
  }
  .text-popup__form {
    row-gap: 10px;
    padding: 0 17px
  }
  .form-popup__input {
    padding: 11px 16px;
    border-radius: 6px;
    opacity: .9
  }
  .form-popup__send {
    padding: 13px 28px;
    border-radius: 9px;
    margin-top: 10px
  }
  .popup-content__packet {
    padding: 20px 20px 35px;
    max-width: 375px
  }
  .popup-packet__top {
    row-gap: 16px
  }
  .popup-packet__bot {
    row-gap: 20px
  }
  .top-packet__header {
    row-gap: 4px
  }
  .top-packet__znak {
    font-size: 90px
  }
  .top-packet__info {
    row-gap: 12px
  }
  .top-packet__title {
    font-size: 20px;
    line-height: 24px
  }
  .top-packet__decription {
    font-size: 15px;
    line-height: 20px
  }
  .top-packet__body {
    row-gap: 10px
  }
  .top-packet__subtitle {
    font-size: 16px;
    line-height: 24px
  }
  .top-packet__list {
    row-gap: 10px;
    padding-left: 10px
  }
  .top-packet__li {
    font-size: 11px;
    line-height: 16px
  }
  .bot-packet__price {
    font-size: 16px;
    line-height: 20px
  }
  .bot-packet__btn {
    padding: 14.5px 37px
  }
  .doctors__container {
    margin-top: 62px;
    row-gap: 22px
  }
  .doctors__titles {
    row-gap: 8px
  }
  .doctors__subtitle {
    font-size: 16px;
    line-height: 20px;
    width: 100%
  }
  .doctors__navigations {
    top: 49%;
    left: 0
  }
  .doctors__mobbtn {
    display: flex;
    align-items: flex-start;
    width: 100%
  }
  .doctors-slide__image {
    width: 302px;
    height: 215px;
    -o-object-position: top center;
    object-position: top center
  }
  .doctors-slide__info {
    row-gap: 16px;
    padding: 20px 15px 28px 20px
  }
  .info-doctors__titles {
    row-gap: 10px
  }
  .info-doctors__name {
    font-size: 20px;
    line-height: 24px
  }
  .info-doctors__expirience {
    font-size: 16px;
    line-height: 20px
  }
  .info-doctors__descriptions {
    font-size: 14px;
    line-height: 18px
  }
  .video-comments__container {
    padding-top: 30px
  }
  .video-comments__title {
    margin-bottom: 18px
  }
  .video-comments__slider {
    display: none
  }
  .video-comments-thumbs__slider {
    height: 248px
  }
  .video-comments-thumbs__slider .swiper-slide {
    opacity: 1
  }
  .video-comments-swiper-button-prev {
    top: 42%;
    left: 0
  }
  .video-comments-swiper-button-next {
    top: 42%;
    right: 0
  }
}
@media (max-width:47.99875em)and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}